{% extends "core/base.html" %}
{% block title %}Направления и профили{% endblock %}

{% block content %}
<h3 class="mb-4 text-primary text-center">Перечень образовательных программ</h2>
<p class="text-dark fs-5 text-center">Аккредатицонный портал НГУ
     <br> С. Нааматова</p>

<hr>

<h4 class="mb-4">Направления и профили подготовки</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped align-middle mb-0">
        <thead class="table-primary">
            <tr class="text-center">
                <th style="width: 10%;">Код (шифр)</th>
                <th style="width: 30%;">Направление</th>
                <th style="width: 35%;">Профиль</th>
                <th style="width: 25%;">Форма обучения</th>
            </tr>
        </thead>
        <tbody>
            {% for major in majors %}
                {% for profile in major.profiles.all %}
                    <tr>
                        {% if forloop.first %}
                            <td class="text-center" rowspan="{{ major.profiles.count }}">{{ major.code }}</td>
                            <td rowspan="{{ major.profiles.count }}">{{ major.name }}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'core:profile_detail' profile.pk %}" class="text-decoration-none">
                                {{ profile.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            {% if profile.full_time %}Очная{% endif %}
                            {% if profile.part_time %}{% if profile.full_time %}, {% endif %}Заочная{% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4" class="text-center">Нет данных</td></tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
